.meme-editor {
  width: 0;
  visibility: hidden;
  position: absolute;
  margin: 10px 0;
  text-align: center;
  transition: width 0.5s ease;
}
  
.chosen-image{
  width: 50%;
}

.text-editor {
  width: 50%;
  }


.canvas-area {
  width: 100%;
  margin: auto auto;
}

.canvas {
  width: 100%;
  height: auto;
}

.bottom-text {
  margin-top: 50px;
}

@media screen and (max-width:499px){

.chosen-image{
  width: 100%;
}
.text-editor {
  width: 100%;
  }
}