.meme-editor {
  margin: 10px 0;
  text-align: center;
}
  
.chosen-image{
  width: 50%;
}

.text-editor {
  width: 50%;
  background-color: teal;
  }


.canvas-area {
  width: 400px;
  margin: auto auto;
}

.bottom-text {
  margin-top: 50px;
}

@media screen and (max-width:499px){

.chosen-image{
  width: 100%;
}
.text-editor {
  width: 100%;
  background-color: teal;
  }

  
}

