.meme-editor {
  height: 0;

  visibility: hidden;
  margin-top: 50px;
  text-align: center;
  transition: height 0.5s;
}
  
.chosen-image{
  width: 50%;
}

.text-editor {
  width: 50%;
  }

.text-editor button {
  border-radius: 20px;
  font-family: 'Playfair';
  background-color: black;
  color: white;
}

.text-editor input {
  background-color: black;
  color:white;
}

.canvas {
  width: 100%;

}

.top-text {
  margin-top: 50px;
}

.bottom-text {
  margin-top: 50px;
}

.download {
  margin-top: 20px;
}



@media screen and (max-width:580px){

.chosen-image{
  width: 100%;
}
.text-editor {
  width: 100%;
  }
}