::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}

.form-control {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 100%;
  padding: 0.5em 0.2em;
}

.form-group {
  margin: 1em 0;
}

.form-input{
    width: 80%;
    background-color: purple;
}

.form-info {
  width: 20%;
  background-color: teal;
}


@media screen and (max-width:499px){

  .form-input{
    width: 100%;
    background-color: purple;
  }

  .form-info {
    width: 100%;
    background-color: teal;
  }
}