/*----------  Containers  ----------*/

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 1em;
}

section{
  height: 100px;
}

article {
  height: 50px;
  background-color: lightgreen; 
}

